<div class="container">

  <button type="button" class="btn btn-primary" (click)="addMurid()"><i class="fas fa-plus"></i> Tambah</button>
  <p></p>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>NIS</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Kelas</th>
        <th>SPP</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let murid of murid_from_db">
        <td>
          {{murid.nis}}
        </td>
        <td>
          {{murid.name}}
        </td>
        <td>
          {{murid.tgllhr | date:'dd MMMM yyyy' }}
        </td>
        <td>
          {{murid.kelas}}
        </td>
        <td>
          {{murid.spp}}
        </td>
        <td>
          <button type="button" class="btn btn-secondary" (click)="getCurrentMurid(murid)"><i class="fas fa-play"></i>
            Click</button>
          <button type="button" class="btn btn-warning" (click)="editMurid(murid)"><i class="fas fa-edit"></i>
            Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteMurid(murid)"><i class="fas fa-trash-alt"></i>
            Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
