<form action="/action_page.php" (ngSubmit) = "onSubmit()">
  <div class="form-group">
    <label>NIS</label>
    <input type="text" class="form-control" id="nis" placeholder="NIS" name="nis" required>
  </div>
  <div class="form-group">
    <label>Nama</label>
    <input type="text" class="form-control" id="name" placeholder="Nama Lengkap" name="name" required>
  </div>
  <div class="form-group">
    <label>Tanggal Lahir</label>
    <input type="date" class="form-control" id="tgllhr" placeholder="Tanggal Lahir" name="tgllhr" required>
  </div>
  <div class="form-group">
    <label>Kelas</label>
    <input type="text" class="form-control" id="kelas" placeholder="Kelas" name="kelas" required>
  </div>
  <div class="form-group">
    <label>SPP</label>
    <input type="text" class="form-control" id="spp" placeholder="SPP" name="spp" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>