<form action="/action_page.php" [formGroup]="editForm" (ngSubmit) = "onSubmit()">
  <div class="form-group">
    <label>NIS</label>
    <input type="text" class="form-control" formControlName="_id" id="_id" name="_id" hidden>
    <input type="text" class="form-control" formControlName="nis" id="nis" placeholder="NIS" name="nis" required>
  </div>
  <div class="form-group">
    <label>Nama</label>
    <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nama Lengkap" name="name" required>
  </div>
  <div class="form-group">
    <label>Tanggal Lahir</label>
    <input type="date" class="form-control" formControlName="tgllhr" id="tgllhr" placeholder="Tanggal Lahir" name="tgllhr" required>
  </div>
  <div class="form-group">
    <label>Kelas</label>
    <input type="text" class="form-control" formControlName="kelas" id="kelas" placeholder="Kelas" name="kelas" required>
  </div>
  <div class="form-group">
    <label>SPP</label>
    <input type="text" class="form-control" formControlName="spp" id="spp" placeholder="SPP" name="spp" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>