<div class="container">

  <button type="button" class="btn btn-primary" (click)="addGuru()"><i class="fas fa-plus"></i> Tambah</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i class="fas fa-plus"></i> Tambah Modal</button>
  <p></p>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>NIK</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Jabatan</th>
        <th>Gaji</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guru of guru_from_db">
        <td>
          {{guru.nik}}
        </td>
        <td>
          {{guru.name}}
        </td>
        <td>
          {{guru.tgllhr | date:'dd MMMM yyyy' }}
        </td>
        <td>
          {{guru.jabatan}}
        </td>
        <td>
          {{guru.gaji}}
        </td>
        <td>
          <button type="button" class="btn btn-secondary" (click)="getCurrentGuru(guru)"><i class="fas fa-play"></i> Click</button>
          <button type="button" class="btn btn-warning" (click)="editGuru(guru)"><i class="fas fa-edit"></i> Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteGuru(guru)"><i class="fas fa-trash-alt"></i> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- The Modal -->
<div class="modal" id="addModal" >
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tambah Guru</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/action_page.php" (ngSubmit) = "onSubmit()">
          <div class="form-group">
            <label>NIK</label>
            <input type="text" class="form-control" id="nik" placeholder="NIK" name="nik">
          </div>
          <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" id="name" placeholder="Nama Lengkap" name="name">
          </div>
          <div class="form-group">
            <label>Tanggal Lahir</label>
            <input type="text" class="form-control" id="tgllhr" placeholder="Tanggal Lahir" name="tgllhr">
          </div>
          <div class="form-group">
            <label>Jabatan</label>
            <input type="text" class="form-control" id="jabatan" placeholder="Jabatan" name="jabatan">
          </div>
          <div class="form-group">
            <label>Gaji</label>
            <input type="text" class="form-control" id="gaji" placeholder="Gaji" name="gaji">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


