<form action="/action_page.php" (ngSubmit) = "onSubmit()">
  <div class="form-group">
    <label>NIK</label>
    <input type="text" class="form-control" id="nik" placeholder="NIK" name="nik" required>
  </div>
  <div class="form-group">
    <label>Nama</label>
    <input type="text" class="form-control" id="name" placeholder="Nama Lengkap" name="name" required>
  </div>
  <div class="form-group">
    <label>Tanggal Lahir</label>
    <input type="date" class="form-control" id="tgllhr" placeholder="Tanggal Lahir" name="tgllhr" required>
  </div>
  <div class="form-group">
    <label>Jabatan</label>
    <input type="text" class="form-control" id="jabatan" placeholder="Jabatan" name="jabatan" required>
  </div>
  <div class="form-group">
    <label>Gaji</label>
    <input type="text" class="form-control" id="gaji" placeholder="Gaji" name="gaji" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
